body {background-color: Azure}
h1 {text-align: center; font-family: Verdana, Arial, sans-serif}
h2 {text-align: center; font-family: Courier New, Courier, monospace}
nav {text-align: center;}
blockquote {text-align: center}
img {padding: 70px 70px 70px 70px}