body {
	background-color: white;
}

h1 {
	text-align: left;
	font-family: Abel;
	font-size: 325%;
	margin: 0px 0px 0.5% 13%;
	letter-spacing: 0.2em;
}

	#nameLink {
		text-decoration: none;
		color: black;
	}

h2 {
	text-align: left;
	font-family: Abel;
	margin: 0px 0px 3% 13%;
	font-style: italic;
}

nav {
	text-align: right;
	position: absolute;
	top: 3%; right: 5%;
	font-size: 117%;
	font-family: Abel;
	word-spacing: 2em;
}

	.navT {
		text-decoration: none;
		color: black;
	}

	.navT:hover {
		text-decoration: underline;
	}

	#activePage {
		color: #2980B9;
		font-weight: bold;
	}

p {
	text-align: left;
	font-size: 120%;
	font-family: Abel;
	margin: 2% 15% 0px 13%;
}

#wrap {
	margin: auto;
	margin-bottom: 3%;
	width: 30%;
}

@media only screen and (max-width: 1000px) {
	#wrap {
		margin: auto;
		margin-bottom: 3%;
		width: 50%;
	}
}

@media only screen and (max-width: 751px) {
	#wrap {
		margin: auto;
		margin-bottom: 3%;
		width: 80%;
	}
}
