body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(41, 40, 46);
    color: whitesmoke;
}

.main-div {
    /* border: 2px solid whitesmoke; */
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(101, 101, 101, 0.3);
    margin: auto;
    max-width: 1024px;
    height: 500px;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 15px;
}

.description {
    font-size: 1.1em;
    margin-bottom: 5%;
}

.link-row {
    width: 100%;
    margin: auto;
    text-align: center;
}

.link-button {
    display: inline-block;
    font-size: 1.2em;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.3), -2px -2px 12px 0 rgba(120, 120, 120, 0.3);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.link-button:hover {

}

.link-button-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* text-align: center; */
    /* margin: auto; */
}