body {
    font-family: 'Ubuntu', sans-serif;
}

.main-div {
    border: 2px solid black;
    margin: auto;
    max-width: 1024px;
    height: 500px;
    margin-top: 10vh;
    padding: 10px;
    border-radius: 15px;
}

.link-button {
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.link-button:hover {
    padding: 5px 20px;
}