body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(41, 40, 46);
    color: whitesmoke;
}

/*
@media only screen and (min-width: 800px) {
    #main-div {
        box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(101, 101, 101, 0.3);
        border-radius: 15px;
        margin: auto;
        margin-top: 10vh;
        padding: 20px;
        max-width: 1024px;
        min-height: 500px;
    }
}
*/

@media only screen and (max-width: 800px) {
    #main-div {
        box-shadow: none !important;
        border-radius: none !important;
        margin: auto !important;
        margin-top: 10vh !important;
        padding: 20px !important;
    }
} 

.bio {
    font-size: 1.1em;
    margin-bottom: 70px;
    letter-spacing: 1px;
}

.link-row {
    width: 100%;
    margin: auto;
    text-align: center;
}

.link-button {
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.3), -2px -2px 12px 0 rgba(120, 120, 120, 0.3);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}

.link-button:hover {
    box-shadow: none;
}

.link-button-content{
    margin-top: 24px;
}

.link-button-text {
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.material-icons.md-36 { font-size: 36px; }