body {background-color: white}

h1 {text-align: left; 
	font-family: Abel; 
	font-size: 325%; 
	margin: 0px 0px 0.5% 13%; 
	letter-spacing: 0.2em}

h2 {text-align: left; 
	font-family: Abel; 
	margin: 0px 0px 3% 13%; 
	font-style: italic}

nav {text-align: right; 
	 position: absolute; 
	 top: 3%; right: 5%; 
	 font-size: 117%; 
	 font-family: Abel; 
	 word-spacing: 2em;}

	#navT{text-decoration: none; 
		color: black;}

	#navT:hover{text-decoration: underline;}

p {text-align: left; 
   font-size: 110%; 
   margin-right: 30%; 
   font-family: Abel}

#nameLink{text-decoration: none; 
		  color: black}

.gallery img{
	width: 100%;
	height: auto;
}

* { box-sizing: border-box; }

.responsive{
	padding: 0 6px;
	float: left;
	width: 49.99999%;
}

@media only screen and (max-width: 500px){
	.responsive{
		width: 100%;
	}
}
