body {
	background-color: white;
}

h1 {
	text-align: left;
	font-family: Abel;
	font-size: 325%;
	margin: 0px 0px 0.5% 13%;
	letter-spacing: 0.2em;
}

	#nameLink {
		text-decoration: none;
		color: black;
	}

h2 {
	text-align: left;
	font-family: Abel;
	margin: 0px 0px 3% 13%;
	font-style: italic;
}

nav {
	text-align: right;
	position: absolute;
	top: 3%; right: 5%;
	font-size: 117%;
	font-family: Abel;
	word-spacing: 2em;
}

	.navT {
		text-decoration: none;
		color: black;
	}

	.navT:hover {
		text-decoration: underline;
	}

	#activePage {
		color: darkorange;
		font-weight: bold;
	}

/* images */
.allImages {
	display: none;
	width: 100%;
	height: auto;
}

/* inner div */
.gallery {
	width: 100%;
	height: auto;
}

* { box-sizing: border-box; }

/* outer div */
.responsive {
	margin: auto;
	margin-top: 2%;
	width: 50%;
}

/* below 1000px, two images side by side */
@media only screen and (max-width: 1000px) {
	/* outer div */
	.responsive {
		margin: auto;
		margin-top: 2%;
		width: 70%;
	}
}

/* on mobile phones, width of each image becomes full screen,
	iPhone 6 has 750 pixel width */
@media only screen and (max-width: 751px) {
	/* outer div */
	.responsive {
		margin: auto;
		margin-top: 2%;
		width: 90%;
	}
}
